###############################################################################
# Normalize line endings
###############################################################################

* text=auto eol=lf

###############################################################################
# Shell Scripts
###############################################################################

*.sh text eol=lf

###############################################################################
# Windows Scripts
###############################################################################

*.bat text eol=crlf
*.cmd text eol=crlf

###############################################################################
# Images
###############################################################################

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

###############################################################################
# Documents
###############################################################################

*.pdf binary
*.zip binary

###############################################################################
# TypeScript
###############################################################################

*.ts text
*.js text
*.json text
*.yml text
*.yaml text
*.md text
